* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("../img/pattern.png");
    background-size: 200px;
    height: 50px;
    background-color: rgb(63, 148, 228);
    
}

header>img {
    width: 7rem;
    margin-top: 1rem;
   
}

h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 2rem;
}

#top>h4{
    color: grey;
}
.colored{
    color: rgb(80, 183, 243);
}

.subtitle{
    color:gray;
    margin-bottom: 1rem;
}
.subtitle>p {
    font-size: 0.7rem;
}

#caption {
    color:black;
    font-size: 0.7rem;
}
main {
	width: 98%;
	margin: auto;
    padding: 0.1rem;
}

section{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.yellow{
    background-color: yellow;
}

ul{
    margin: 1rem;
}

table, td, th, tr {
    border-spacing: 0;
  }

th, td {
    padding: 8px;

    text-align: left;
   
  }

th{
    background-color: rgb(70, 149, 214);
    color: white;
}

/* td {
    background-color: lightblue;
} */
table tr:nth-child(odd) {
    background-color: lightblue;
  }

footer {
    color: grey;
}

footer {
    width: 98%;
	margin: auto;
    padding: 0.1rem;

}
.pic1{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}
.pic2{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}